@font-face {
  font-family: font-mono;
  src: url("@/shared/assets/fonts/GeistMonoVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: font-sans-serif;
  src: url("@/shared/assets/fonts/GeistVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
