.app.dark {
  --bg-color: #1e1e1ef2;
  --inverted-bg-color: #ecfdf5;
  --primary-color: #fff;
  --inverted-primary-color: #141414;
  --secondary-color: #eceaeada;
  --inverted-secondary-color: #14141480;
}
