.app.light {
  --bg-color: #ecfdf5;
  --inverted-bg-color: #1e1e1ef2;
  --primary-color: #141414;
  --inverted-primary-color: #fff;
  --secondary-color: #14141480;
  --inverted-secondary-color: #eceaeada;
}
