.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);

  padding: 12px 24px;

  background-color: var(--inverted-bg-color);
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
}