.h1 {
  font-size: 16px;
  color: #059690;
}

.button {
  background-color: #059690;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
